/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Monserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Monserrat', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  color: #303030;
}

a {
  text-decoration: none;
  color: #303030;
}

li {
  list-style: none;
}

/* End Normalize */

/* Global Classes */

.generic_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 20px;
}

.generic_section_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #323232;
  margin-bottom: 5%;
}

.generic_img {
  width: 90vw;
}

/* NavBar */

.logo-desktop {
  display: none;
}

.logo-mobile {
  margin-right: 10%;
}

.menu {
  margin-top: 25%;
  height: 90vh;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  transition: 0.3s ease;
  font-size: 1em;
  box-shadow: -5px 0 10px rgba(125, 124, 124, 0.5);
  background-color: #fff;
}

.menu.active {
  right: 0;
}

.ham-menu {
  height: 50px;
  position: relative;
}

.ham-menu span {
  width: 28px;
  height: 2px;
  background-color: #303030;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 50%;
}

.ham-menu span:nth-child(2) {
  top: 70%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg) translate(-5px, 10px);
}

.ham-menu.active span:nth-child(2) {
  top: 50%;
  transform: rotate(-45deg) translate(-10px, -5px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;
  background-color: #fff;
}

.menu_link {
  font-weight: 300;
  transition: 0.3s ease;
}

.menu_link:hover {
  font-size: 20px;
  color: #1994ff;
}

.menu_link.active {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-underline-position: under;
  font-weight: 600;
}

/* Hero Section */

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  color: #303030;
}

.hero_content h4 {
  margin-bottom: 5%;
  line-height: 24px;
  font-weight: 500;
  font-size: 1em;
  color: #303030;
}

.hero_content p {
  margin-bottom: 10%;
  width: 290px;
  height: 90px;
  font-weight: 400;
  font-size: 1.25em;
  text-align: center;
  line-height: 30px;
}

.bolder_span {
  text-decoration: underline;
  text-decoration-color: #ed452f97;
  text-underline-position: under;
  color: #303030;
  font-weight: 600;
  font-size: 1.25em;
}

.hero_btn {
  padding: 12px 30px;
  background-color: #1994ff;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 24px;
  margin-bottom: 15%;
  transition: 0.3s ease;
}

.hero_btn:hover {
  color: #fed401;
  scale: 1.1;
}

.hero_image {
  width: 300px;
}

.david_container {
  display: flex;
  justify-content: center;
  background-image: url('media/Group 850.svg');
  background-position-y: 80%;
  background-position-x: center;
  background-repeat: no-repeat;
  margin-top: -25%;
}

.david_img {
  margin: auto;
  width: 300px;
}

/* Seo First Section */

.line_container {
  display: flex;
  position: relative;
  left: -6.8em;
  margin: 5%;
}

.title_line {
  width: 60px;
  height: 1px;
  background-color: #898989;
  margin: 5% 0;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
}

.subtitle_span {
  font-weight: 600;
  font-size: 28px;
  white-space: nowrap;
}

.second_subtitle {
  padding-right: 20%;
}

.about_img {
  width: 300px;
  margin-bottom: 5%;
}

.btn_section_container {
  background-image: url('media/Btn Background.svg');
  background-repeat: no-repeat;
  background-position-y: center;
  width: 300px;
  height: 50px;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}

.borderless_btn {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1994ff;
  padding-left: 7%;
  transition: 0.3s ease;
}

.borderless_btn:hover {
  scale: 1.1;
}

.btn_line {
  background-color: #007be7;
  width: 22.5px;
  height: 0.75px;
  margin-left: 4%;
}

/* About Us Section */

.about_us_container {
  position: relative;
}

.about_us_container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url("media/AboutUs Background.svg");
  background-position: bottom;
  background-size: 300px;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Testimonial Section */

.client_subtitle {
  text-align: left;
  font-size: 30px;
}

.client_paragraph {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1em;
  line-height: 24px;
  color: #303030;
  margin: 5%;
}

.client_name {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #303030;
}

.client_position {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #686868;
  margin-bottom: 5%;
}

.arrows_img_container {
  margin-top: 4%;
}

.arrows_img:hover {
  scale: 1.2;
}

/* Blog / Libraries Section */

.libraries {
  background-color: #f9f9f9;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.pencil_div {
  margin-top: 10%;
}

/* Clients Section */

.clients_title {
  padding-right: 47%;
}

.clients_paragraph {
  font-weight: 400;
  font-size: 1em;
  line-height: 30px;
  color: #323232;
  margin-bottom: 5%;
}

.clients_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 20px;
}

/* Responsive */

/* Medias Querys */

/* From 375px to 424px (Mobile M) */
@media screen and (min-width: 375px) {

  /* General Sections */
  .about_img {
    width: 100%;
  }

  .line_container {
    left: -8.6em
  }
  
  .btn_section_container {
    width: 100%;
  }

  .borderless_btn {
    padding: 6%;
  }

  .btn_line {
    margin-left: -3%;
  }

  .second_subtitle {
    padding-right: 50%;
  }

  .clients_title {
    padding-right: 55.5%;
  }

}

/* From 425px to 767px (Mobile L) */
@media screen and (min-width: 425px) {

  /* Navbar */
  .menu {
    margin-top: 20%;
  }

  /* Hero Section */

  .david_container {
    background-position-y: 60%;
  }

  /* About Sections */

  .line_container {
    left: -10em
  }

  .clients_span {
    padding-right: 29%;
  }

  .clients_paragraph {
    font-size: 1.1em;
  }

  .blog_subtitle {
    padding-right: 10%;
  }

  .clients_section {
    padding: 64px 20px 32px 20px;
  }

  .clients_title {
    padding-right: 60%;
  }
}
